@layer stream, stream-overrides;
@import "stream-chat-react/dist/css/v2/index.css" layer(stream);

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
#root {
  display: flex;
}

.str-chat__channel-list {
  width: 30%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}

@layer stream-overrides {
  .str-chat {
    --str-chat__primary-color: theme("colors.blue.primary");
    --str-chat__active-primary-color: theme("colors.green.dark");
    --str-chat__surface-color: theme("colors.sunken");
    --str-chat__secondary-surface-color: #fafafa;
    --str-chat__primary-surface-color: #e0f2f1;
    --str-chat__primary-surface-color-low-emphasis: #edf7f7;
    --str-chat__border-radius-circle: 6px;
    --str-chat__avatar-background-color: theme(
      "colors.red.primary"
    ); /* Only changes the background color of the avatar component */
  }
}
