@tailwind base;
@tailwind components;
@tailwind utilities;

.marker-cluster-custom {
    background-color: theme('colors.red.primary');
    color: theme('colors.white');
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid theme('colors.white');
}
